@model CuestionarioWeb.EN.Usuario
@{
    ViewData["Title"] = "Register";

}
<div class="row">
    <div class="col-md-6" style="position:relative">
        <br />
        <br />
        <h1>Crea una cuenta</h1>
        <h4>Introduce tus datos</h4>
        <hr />
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" required />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input type="date" asp-for="FechaNacimiento" class="form-control" required />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <input asp-for="NickName" class="form-control" required />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rol de usuario</label>
                <select asp-for="IdRolUsuario" class="form-control">
                    <option value="1">Administrador</option>
                    <option value="2">Comun</option>
                </select>
                <span asp-validation-for="IdRolUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Unirme" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="container-home" style="z-index:-1;">
        <div class="circle-home"></div>
        <div id="simbolo-uno">
            <span class="simbolo">¿</span>
            <span class="simbolo">?</span>
        </div>
        <div id="simbolo-dos">
            <span class="simbolo">¿</span>
            <span class="simbolo">?</span>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar atrás</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
