@{
    ViewData["Title"] = "Home Page";
}

<div class="container-home">
    <div class="circle-home">
        <div class="text-center">
            <div id="home-titulo">
                <h1 class="display-4">¿Tienes dudas?</h1>
                <h2>Entonces pregunta</h2>
                <p>Nunca fué tan fácil encontrar una respuesta</p>
                <a href="~/Preguntas" class="btn btn-success" style="position:relative; z-index:1;">Comenzar</a>
            </div>
        </div>
    </div>
    <div id="simbolo-uno">
        <span class="simbolo">¿</span>
        <span class="simbolo">?</span>
    </div>
    <div id="simbolo-dos">
        <span class="simbolo">¿</span>
        <span class="simbolo">?</span>
    </div>
</div>
