/*Home*/
/*Eliminamos el padding bottom que le da bootstrap*/
#navbar-header-layout {
    margin-bottom: 0 !important;
    z-index: 1; /*para que la sombra quede por encima del div container-home*/
}

#footer-layout {
    background-color: white;
    z-index:1;
}

.user-name {
    position: absolute;
    right: 3%;
    top: 64px;
}

/*Proporciona el estilo de circulo para la pantalla home*/
.circle-home {
    border-radius: 0 0 100% 0;
    background-color: white;
    height: 100%;
}

.container-home {
    background-color: orange;
    position: absolute;
    left: 0;
    width: 100%;
    height: 90%;
}

#home-titulo {
    position: relative;
    top: 89px;
}
/*fin Home*/

/*simbolos de preguntas*/
.simbolo {
    color:rgb(87,87,87,0.40);
    position:relative;
    opacity: 0.1;
    margin-right: 25px;
    display: inline-block;
    font-size: 12em;
    transform: rotateX(0deg);
    animation: flotar;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
#simbolo-uno {
    position: fixed;
    top: 5%;
    left: 5%;
}
#simbolo-dos {
    position: fixed;
    right: 13%;
    bottom: 21%;
}

@keyframes flotar{
    0%{transform:rotateY(0deg);bottom:0px}
    20% {transform: rotateY(30deg); bottom:6px; right:0px;}
    40%{transform: rotateY(30deg); bottom:6px; right:6px; transform:rotate(-5deg);  }
    60% {transform: rotateY(0deg); bottom:-6px;right:6px; transform:rotate(-5deg)}
    80%{bottom:-6px; right:0px; transform:rotate(0deg)}
    100%{bottom:0px}
}
/*fin simbolo de preguntas*/
/*Login*/

#portada-login {
    background-color: orange;
    height: 100%;
    width: 50%;
    position: fixed;
    top: 56px;
    right: 0;
    z-index: 1;
}

@media screen and (max-width:767px){
    #form-login {
        color:white;
        text-align: center;
        top:50px;
    }
    #portada-login {
        background-color: #fcb737;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 50px;
        right: 0;
        z-index: -1;
    }
    .titulo-login {
        position: absolute;
        top: 20%;
        left: 10%;
        font-size: 2.5em;
        color: white;
        text-shadow: 2px 2px 2px black;
        opacity:0;
    }
}

.left {
    position: absolute;
    left: 100px;
}

.right {
    position: absolute;
    right: 40%;
}

.titulo-login {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.titulo-cursiva {
    text-transform: uppercase;
    font-style: italic;
}

/*fin login*/

.container-respuesta{
    position:relative;
    padding-top:1em;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:1.3em;
    border-radius:10px;
    background-color:rgb(177 219 177);
    border:solid 2px rgb(87 87 87);
    margin-bottom:3px;
}

.container-comentarios {
    position: relative;
    padding-top: 1em;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1.3em;
    border-radius: 10px;
    background-color: rgb(178 222 214);
    border: solid 2px rgb(87 87 87);
    margin-bottom: 3px;
}

.text-area {
    width: 100%;
    margin-bottom: 20px;
}
#text-area-container{
    display:none;
}
.usuario-respuesta {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 0.8em;
    color: rgb(129 17 48);
    font-weight:bold;
}
.hora-respuesta {
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 0.8em;
    color: rgb(87 87 87);
}
.container-reacciones-respuesta {
    position: absolute;
    top: 3px;
    right: 3px;
}
.reacciones-respuesta {
    font-size: 0.8em;
}
.numero-reacciones-respuesta {
    font-size: 0.8em;
    color: rgb(129 17 48);
    font-weight: bold;
}
.container-reaccionar-mencionar {
    position: absolute;
    left: 3px;
    bottom: 3px;
}
.reaccionar-respuesta {
    color: blue;
    font-size: 0.8em;
    cursor: pointer;
    margin-right:3px;
}
.mencionar-respuesta {
    color:rgb(143 0 255);
    font-size: 0.8em;
    cursor: pointer;
}
.comentarios-respuesta{
    color:rgb(22 46 41);
    font-weight:bold;
    font-size:0.8em;
    cursor:pointer;
}
.tipos-reacciones {
    display: none;
    position: absolute;
    background-color: rgb(39 39 39);
    border-radius: 10px;
    bottom: 25px;
    left: 0;
    padding-left: 4px;
    padding-bottom: 6px;
    padding-right: 4px;
    animation: transicion;
    animation-duration: 0.5s;
}

@keyframes transicion {
    from{bottom:10px; opacity:0;}
    to{bottom:25px;opacity:1;}
}
.modal-block{
    display:none;
    background-color:black;
    opacity:0.5;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
}

.modal-pregunta {
    display: none;
    background-color: #fcb737;
    border: 1px solid black;
    height: 27%;
    width: 90%;
    position: fixed;
    left: 5%;
    top: 20%;
    text-align: center;
    padding: 1% 10% 0 10%;
}
.btn-ordenar{
    display:inline;
    width:170px;
}
@media only screen and (min-width:546) {
    .modal-pregunta {
        display: none;
        background-color: #fcb737;
        border: 1px solid black;
        height: 27%;
        width: 60%;
        position: fixed;
        left: 20%;
        top: 20%;
        text-align: center;
        padding: 1% 10% 0 10%;
    }
}

.mencionar-dialogo {
    display:none;
    position: relative;
    padding-top: 1em;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1.3em;
    border-radius: 10px;
    background-color: white;
    border: solid 2px rgb(87 87 87);
    margin-bottom: 3px;
    margin-left:20px;
}
.header-mencionar-dialogo {
    position: relative;
    opacity: 0.5;
}
.header-mencionar-dialogo-block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.btn-publicar-dialogo {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.comentarios-sobre-respuesta {
    display:none;
    position: relative;
    padding-top: 1em;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1.3em;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(87 87 87);
    margin-bottom: 3px;
    margin-left: 20px;
}